<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">

		<title>Tabber Demo</title>

		<link href="http://formstone.it/css/demo.css" rel="stylesheet" type="text/css" media="all">

		<!--[if LTE IE 8]>
			<link href="http://formstone.it/css/demo.ie.css" rel="stylesheet" type="text/css" media="all">
		<![endif]-->

		<script src="http://formstone.it/js/demo.js"></script>

		<!--[if LTE IE 9]>
			<script src="ie/html5.js"></script>
		<![endif]-->
		<!--[if IE 9]>
			<script src="ie/matchMedia.ie9.js"></script>
		<![endif]-->
		<!--[if LTE IE 8]>
			<script src="ie/matchMedia.ie8.js"></script>
		<![endif]-->

		<link href="../jquery.fs.tabber.css" rel="stylesheet" type="text/css" media="all">
		<script src="../jquery.fs.tabber.js"></script>

		<!--[DEMO:START-RESOURCES]-->

		<style>
			.demo .tabbed .tabber-handle { font-size: 16px; line-height: 40px; margin: 0 1px 0 0; padding: 0 20px; }
			.demo .tabbed .tabber-handle.active { background: #eee; }

			.demo .tabbed .tabber-tab { background: #eee; padding: 20px; }
			.demo .tabbed .tabber-tab p { margin: 10px 0; }

			.demo .tabbed.mobile .tabber-tab { padding-top: 10px; }
			.demo .tabbed.mobile .tabber-tab p { margin-top: 0; }
		</style>

		<script>
			$(document).ready(function() {
				$(".demo .tabbed").tabber();

				$(window).one("pronto.load", function() {
					$(".demo .tabbed").tabber("destroy");
				});
			});
		</script>

		<!--[DEMO:END-RESOURCES]-->

	</head>
	<body class="gridlock demo">
		<header id="header">
			<div class="row">
				<div class="all-full">
					<a href="http://formstone.it/" class="branding">Formstone</a>
				</div>
			</div>
		</header>
		<article class="row page">
			<div class="mobile-full tablet-full desktop-8 desktop-push-2">
				<header class="header">
					<h1>Tabber Demo</h1>
					<br>
					<a href="http://formstone.it/tabber/" class="button">View Documentation</a>
				</header>

				<!--[DEMO:START-CONTENT]-->

				<!-- BASIC -->
				<h2>Basic</h2>
				<p>Target tabbed interfaces should match the following markup pattern:</p>

				<pre class="example"><code class="language-markup">
&lt;div class="tabbed"&gt;
	&lt;menu class="tabber-menu"&gt;
		&lt;a href="#tab-1" class="tabber-handle"&gt;Tab 1&lt;/a&gt;
		&lt;a href="#tab-2" class="tabber-handle"&gt;Tab 2&lt;/a&gt;
		&lt;a href="#tab-3" class="tabber-handle"&gt;Tab 3&lt;/a&gt;
	&lt;/menu&gt;
	&lt;div class="tabber-tab" id="tab-1"&gt;
		Content...
	&lt;/div&gt;
	&lt;div class="tabber-tab" id="tab-2"&gt;
		Content...
	&lt;/div&gt;
	&lt;div class="tabber-tab" id="tab-3"&gt;
		Content...
	&lt;/div&gt;
&lt;/div&gt;
			</code></pre>
				<pre class="example"><code class="language-javascript">$(".tabbed").tabber();</code></pre>

				<h5>Demo</h5>
				<div class="tabbed">
					<menu class="tabber-menu">
						<a href="#tab-1-1" class="tabber-handle">Tab 1</a>
						<a href="#tab-1-2" class="tabber-handle">Tab 2</a>
						<a href="#tab-1-3" class="tabber-handle">Tab 3</a>
					</menu>
					<div class="tabber-tab" id="tab-1-1">
						<p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui velit aliquet. Sed posuere consectetur est at lobortis. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
					</div>
					<div class="tabber-tab" id="tab-1-2">
						<p>Erat a ante venenatis dapibus posuere velit aliquet. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec ullamcorper nulla non metus auctor fringilla.</p>
					</div>
					<div class="tabber-tab" id="tab-1-3">
						<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Duis mollis, est non commodo luctus porttitor ligula. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
					</div>
				</div>

				<br>

				<!-- BREAKPOINT -->
				<h2>Breakpoint</h2>
				<p>By default, Tabber will enable itself on screens smaller then 980 pixels wide. You can specify a different width by setting the <code>maxWidth</code> option on initialization.</p>

				<pre class="example"><code class="language-javascript">$(".tabbed").tabber({ maxWidth: "740px" });</code></pre>

				<h5>Demo</h5>
				<div class="tabbed" data-tabber-options='{"maxWidth":"740px"}'>
					<menu class="tabber-menu">
						<a href="#tab-2-1" class="tabber-handle">Tab 1</a>
						<a href="#tab-2-2" class="tabber-handle active">Tab 2</a>
					</menu>
					<div class="tabber-tab" id="tab-2-1">
						<p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui velit aliquet. Sed posuere consectetur est at lobortis. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
					</div>
					<div class="tabber-tab active" id="tab-2-2">
						<p>Erat a ante venenatis dapibus posuere velit aliquet. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec ullamcorper nulla non metus auctor fringilla.</p>
					</div>
				</div>

				<br>

				<!-- VERTICAL -->
				<h2>Vertical</h2>
				<p>You can also create a vertical tab set:</p>

				<pre class="example"><code class="language-javascript">$(".tabbed").tabber({
	vertical: true
});</code></pre>

				<h5>Demo</h5>
				<div class="tabbed" data-tabber-options='{"vertical":true}'>
					<menu class="tabber-menu">
						<a href="#tab-3-1" class="tabber-handle">Tab 1</a>
						<a href="#tab-3-2" class="tabber-handle">Tab 2</a>
						<a href="#tab-3-3" class="tabber-handle">Tab 3</a>
					</menu>
					<div class="tabber-tab" id="tab-3-1">
						<p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui velit aliquet. Sed posuere consectetur est at lobortis. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
					</div>
					<div class="tabber-tab" id="tab-3-2">
						<p>Erat a ante venenatis dapibus posuere velit aliquet. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec ullamcorper nulla non metus auctor fringilla.</p>
					</div>
					<div class="tabber-tab" id="tab-3-3">
						<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Duis mollis, est non commodo luctus porttitor ligula. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
					</div>
				</div>

				<br>

				<!-- IE -->
				<h2>IE Support</h2>
				<p>When supporting IE you will need to include a <a href="https://gist.github.com/benplum/8045366" target="_blank">HTML5 enabler</a> and matchMedia polyfill (<a href="https://gist.github.com/benplum/8045336" target="_blank">IE 8</a>, <a href="https://gist.github.com/benplum/8045327" target="_blank">IE 9</a>).</p>

				<!--[DEMO:END-CONTENT]-->

			</div>
		</article>
		<footer id="footer" class="row">
			<div class="all-full copyright">
				Made with &hearts; in Hampden
			</div>
		</footer>
	</body>
</html>