/*---------------------------
  Transitions
---------------------------*/
	*, *:link, *:visited, *:hover, *:active, *:focus {
		-webkit-transition: background-color 0.1s linear, border-color 0.1s linear, color 0.1s linear, opacity 0.1s linear;
		   -moz-transition: background-color 0.1s linear, border-color 0.1s linear, color 0.1s linear, opacity 0.1s linear;
		   	-ms-transition: background-color 0.1s linear, border-color 0.1s linear, color 0.1s linear, opacity 0.1s linear;
		   	 -o-transition: background-color 0.1s linear, border-color 0.1s linear, color 0.1s linear, opacity 0.1s linear;
		   	 	transition: background-color 0.1s linear, border-color 0.1s linear, color 0.1s linear, opacity 0.1s linear;
	}

	:focus, :hover, :active { outline: none; }

	fieldset { border: none; margin: 0; padding: 0; }

/*---------------------------
  Elements
---------------------------*/
	body { background: $white; color: $textGray; $lato; min-width: 300px; }
	body * { word-wrap: break-word; }

	h1, h2, h3, h4, h5, h6 { $lato; font-weight: 400; line-height: 1.2; margin: 25px 0 15px; }
	h1 { color: $black; $lato; font-size: 50px; line-height: 1; }
	h2 { color: $black; $lato; font-size: 26px; }
	h3 { color: $black; $lato; font-size: 22px; }
	h4 { color: $black; $lato; font-size: 12px; letter-spacing: 0.2em; text-transform: uppercase; }
	h5 { }
	h6 { }

	a { color: $orange; text-decoration: none; }
	a:hover { }
	em { }
	strong { }
	p { color: $textGray; font-size: 16px; margin: 15px 0 25px; line-height: 1.7; }
	p.emphasized { color: $textGray; font-size: 18px; margin: 15px 0; }
	p.orange { color: $orange; }

	p a { border-bottom: 1px solid #bbb; color: $textGray; }
	p a:hover { border-color: $orange; color: $orange; }

	ol, ul { margin: 0 0 25px 0; padding: 0 0 0 25px; }
	li { line-height: 1.5; margin: 5px 0 0; position: relative; }
	li:before { background: #ccc; border-radius: 100%; content: ''; display: block; height: 5px; left: -15px; position: absolute; top: 10px; width: 5px; }
	ol { }
	ol li { }
	ul { }
	ul li { }

	hr { background: $white; border: none; clear: both; float: none !important; height: 2px; margin: 40px 0; width: 100%; }

	/* .bordered { border-top: 2px solid $white; margin-top: 50px; padding-top: 50px; } */

	pre, code { color: #333; $ptMono; font-size: 14px; }
	pre { background: $white; border-radius: 3px; margin: 0 0 25px; overflow-y: auto; padding: 20px; }
	pre.example { background: $bgGray; border-left: 3px solid $lightGray; border-radius: 0; }

	textarea { }

	.table_wrapper,
	.option_table_wrapper { overflow-y: auto; margin: 25px 0; width: 100%; }
	table { min-width: 700px; width: 100%; }
	table th { color: $lightGray; cursor: pointer; $lato; font-size: 12px; letter-spacing: 0.2em; padding: 0 15px 10px; text-align: left; text-transform: uppercase; }
	table td { $lato; font-size: 16px; line-height: 1.5; padding: 13px 15px 15px; }
	table tr:nth-child(odd) td { background: $bgGray; }
	table .option { width: 175px; }
	table .default { width: 175px; }


/*-------------------------------------------
  Helpers
-------------------------------------------*/
	.left,
	.block_left { float: left; }
	.block_left { margin: 0 20px 20px 0; }
	.right,
	.block_right { float: right; }
	.block_right { margin: 0 0 20px 20px; }

	.clear { clear: both; }
	.clearfix:after { clear: both; content: "."; display: block; height: 0; line-height: 0; visibility: hidden; }
	.contain { overflow: hidden; }

	.no_select,
	.no_select * {
		-webkit-user-select: none;
		   -moz-user-select: none;
			-ms-user-select: none;
				user-select: none;
	}

	.hidden { display: none !important; visibility: hidden; }
	.visually_hidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
	.visually_hidden.focusable:active,
	.visually_hidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
	.invisible { visibility: hidden; }


/*-------------------------------------------
  Mobile - Min
-------------------------------------------*/
	#bigtree_bar_tab { display: none; }

	#pronto { min-height: 400px; }

	.button { background: $gray; border-radius: 3px; color: $white; cursor: pointer; display: block; $lato; font-size: 14px; height: 40px; line-height: 40px; margin: 0 0 10px 0; text-align: center; text-transform: uppercase;
		-webkit-user-select: none;
		   -moz-user-select: none;
		   	-ms-user-select: none;
		   	 -o-user-select: none;
		   	 	user-select: none;
	}


	#header { background: $white; border-bottom: 1px solid $lighterGray; height: 60px; overflow: hidden; padding: 20px; position: fixed; width: 100%; z-index: 5; }
	.branding { color: $gray; $lato; font-size: 12px; letter-spacing: 0.2em; line-height: 1.1; text-transform: uppercase; }
	.branding:before { background: $iconSprite 0 0; content: ''; display: block; float: left; height: 20px; margin: 0 10px 0 0; width: 20px; }

	#footer { color: $lightGray; font-size: 12px; letter-spacing: 0.2em; margin-top: 25px; margin-bottom: 50px; text-align: center; text-transform: uppercase; }


/*-------------------------------------------
  Mobile
-------------------------------------------*/
	@media screen and (min-width: 500px) {
	}

/*-------------------------------------------
  Tablet
-------------------------------------------*/
	@media screen and (min-width: 740px) {
		.button { display: inline-block; margin: 0 10px 10px 0; padding: 0 30px; }
	}

/*-------------------------------------------
  Desktop
-------------------------------------------*/
	@media screen and (min-width: 980px) {
		.button:hover { background: $black; }
	}

/*-------------------------------------------
  Desktop - Max
-------------------------------------------*/
	@media screen and (min-width: 1220px) {
	}