/*-------------------------------------------
  Demo
-------------------------------------------*/

/*-------------------------------------------
  Mobile - Min
-------------------------------------------*/
	.header { padding: 35px 0 20px 0; }
	.page { padding: 50px 0; }


/*-------------------------------------------
  Mobile
-------------------------------------------*/
	@media screen and (min-width: 500px) {
	}

/*-------------------------------------------
  Tablet
-------------------------------------------*/
	@media screen and (min-width: 740px) {
		.form .button { width: auto; }
	}

/*-------------------------------------------
  Desktop
-------------------------------------------*/
	@media screen and (min-width: 980px) {
		.header { padding: 60px 0 20px 0; }
	}

/*-------------------------------------------
  Desktop - Max
-------------------------------------------*/
	@media screen and (min-width: 1220px) {
	}

/*-------------------------------------------
  IE8/9/10 - http://blog.keithclark.co.uk/moving-ie-specific-css-into-media-blocks/
-------------------------------------------*/
	@media screen\0 {

	}

/*-------------------------------------------
  IE9/10 - http://blog.keithclark.co.uk/moving-ie-specific-css-into-media-blocks/
-------------------------------------------*/
	@media screen and (min-width:0\0) {

	}

/*-------------------------------------------
  IE10/11 - https://gist.github.com/atk/4025104
-------------------------------------------*/
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

	}

/*-------------------------------------------
  Print
-------------------------------------------*/
	@media print {
	    * { background: transparent !important; box-shadow: none !important; color: #000 !important; text-shadow: none !important; }

	    a, a:visited { text-decoration: underline; }
	    a[href]:after { content: " (" attr(href) ")"; }
	    abbr[title]:after { content: " (" attr(title) ")"; }

	    a[href^="javascript:"]:after,
	    a[href^="#"]:after { content: ""; }

	    pre,
	    blockquote { border: 1px solid #999; page-break-inside: avoid; }

	    thead { display: table-header-group; }

	    tr,
	    img { page-break-inside: avoid; }

	    img { max-width: 100% !important; }

	    p,
	    h2,
	    h3 { orphans: 3; widows: 3; }

	    h2,
	    h3 { page-break-after: avoid; }
	}