/*-------------------------------------------
  Master
-------------------------------------------*/

/*-------------------------------------------
  Mobile - Min
-------------------------------------------*/
	#progress { background: $orange; height: 2px; left: 0; opacity: 0; position: fixed; top: 0; width: 0; z-index: 6;
		-webkit-transition: width 0.2s ease-out, opacity 0.2s linear;
		   	 	transition: width 0.2s ease-out, opacity 0.2s linear;
	}
	#progress.visible { opacity: 1; }

	.mobile_handle { background: none; color: $lightGray; cursor: pointer; $lato; font-size: 12px; font-size: 12rem; letter-spacing: 0.2em; line-height: 18px; text-transform: uppercase; }
	.mobile_handle:before { display: none; }

	.shifter .shifter-handle { text-indent: 0; width: auto; }
	.shifter .shifter-page { background: $white; box-shadow: none; padding-top: 60px; }
	.shifter .shifter-navigation { background: $bgGray; overflow-y: auto; padding-top: 80px; }

	.shifter-active .shifter-handle { background: none; }

	.mobile_handle { display: block; }
	.desktop_navigation { display: none; }

	.navigation a { color: $textGray; display: block; font-size: 16px; font-size: 16rem; margin: 20px 0; }
	.navigation a.active { color: $orange; }
	.navigation h5 { color: $lightGray; font-size: 12px; font-size: 12rem; letter-spacing: 0.2em; margin: 13px 0; text-transform: uppercase; }

	.mobile_navigation { padding: 10px 30px; }
	.mobile_navigation .navigation { padding: 0 0 20px; }


	.bar { padding: 50px 0; }
	.bar.tan    { background: $tan; }
	.bar.orange { background: $orange; }
	.bar.gray   { background: $gray; }


	.bar.feature { padding: 75px 0; text-align: center; }
	.bar.feature h1 { color: $white; font-size: 30px; font-size: 30rem; letter-spacing: 0.2em; margin: 0 0 25px; text-transform: uppercase; }
	.bar.feature p { color: $white; color: $white75; font-size: 16px; font-size: 16rem; margin: 25px 0 0; padding: 0 20px; }

	.bar.feature h1:before { background: $iconSprite -15px 0; background-size: 500px 250px; content: ''; display: block; height: 60px; margin: 0 auto 30px; width: 60px; }


	.bar h2 { color: $black25; font-size: 20px; font-size: 20rem; letter-spacing: 0.2em; margin: 0 0 25px; text-align: center; text-transform: uppercase; }
	.bar.gray h2 {  color: $white; color: $white50; }


	.components a { color: $gray; }
	.components h3 { margin-bottom: 10px; }
	.components p { margin-top: 10px; }

	.features { text-align: center; }
	.features h3 { color: $white; }
	.features p { color: $white; color: $white75; }


	.page { padding: 25px 0; }


	.component.detail h3 { color: $orange; }

	pre/* .example */ { background: $bgGray; border-left: 3px solid $lightGray; border-radius: 0; }


	.bar.ads { padding: 50px 0 25px; text-align: center; }
	.bar.ads a { display: inline-block; float: none; margin: 0 5px 10px; }

/*-------------------------------------------
  Mobile
-------------------------------------------*/
	@media screen and (min-width: 500px) {
	}

/*-------------------------------------------
  Tablet
-------------------------------------------*/
	@media screen and (min-width: 740px) {
		#pronto { min-height: 500px; }

		.button { display: inline-block; margin: 0 10px 10px 0; padding: 0 30px; }

		.bar { padding: 75px 0; }


		.bar.feature { padding: 125px 0; }
		.bar.feature h1 { font-size: 45px; font-size: 45rem; }
		.bar.feature h1:before { background: $iconSprite -30px 0; content: ''; display: block; height: 120px; margin: 0 auto 40px; width: 120px; }


		.bar h2 { font-size: 28px; font-size: 28rem; }
		.bar.feature p { font-size: 18px; font-size: 18rem; padding: 0; }


		.components .component:nth-child(odd) { clear: both; }

		.features .feature { padding: 0 10px; }
	}

/*-------------------------------------------
  Desktop
-------------------------------------------*/
	@media screen and (min-width: 980px) {
		#pronto { min-height: 600px; }

		.button:hover { background: $black; }

		/* .shifter .mobile_handle { display: none; } */
		.desktop_navigation { display: block; }

		.navigation a:hover { color: $gray; }
		.navigation a.active { color: $orange; }
		.desktop_navigation .navigation { padding: 15px 0; }


		.bar { padding: 100px 0; }

		.bar.feature { padding: 175px 0; }


		.components .component:nth-child(odd) { clear: none; }
		.components .component:nth-child(3n+1) { clear: both; }

		.features .feature { padding: 0 45px; }

		.page { padding: 50px 0; }

		.page .bar.ads { text-align: left; }
	}

/*-------------------------------------------
  Desktop - Max
-------------------------------------------*/
	@media screen and (min-width: 1220px) {
		.features .feature { padding: 0 50px; }

		.bar.feature p { padding: 0 30px; }
	}

/*-------------------------------------------
  IE8/9/10 - http://blog.keithclark.co.uk/moving-ie-specific-css-into-media-blocks/
-------------------------------------------*/
	@media screen\0 {

	}

/*-------------------------------------------
  IE9/10 - http://blog.keithclark.co.uk/moving-ie-specific-css-into-media-blocks/
-------------------------------------------*/
	@media screen and (min-width:0\0) {

	}

/*-------------------------------------------
  IE10/11 - https://gist.github.com/atk/4025104
-------------------------------------------*/
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

	}

/*-------------------------------------------
  Print
-------------------------------------------*/
	@media print {
	    * { background: transparent !important; box-shadow: none !important; color: #000 !important; text-shadow: none !important; }

	    a, a:visited { text-decoration: underline; }
	    a[href]:after { content: " (" attr(href) ")"; }
	    abbr[title]:after { content: " (" attr(title) ")"; }

	    a[href^="javascript:"]:after,
	    a[href^="#"]:after { content: ""; }

	    pre,
	    blockquote { border: 1px solid #999; page-break-inside: avoid; }

	    thead { display: table-header-group; }

	    tr,
	    img { page-break-inside: avoid; }

	    img { max-width: 100% !important; }

	    p,
	    h2,
	    h3 { orphans: 3; widows: 3; }

	    h2,
	    h3 { page-break-after: avoid; }
	}