{% if not meta.pronto %}
<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">

		<meta name="description" content="{{ meta.description }}">
		{% if meta.robots %}
		<meta name="robots" content="{{ meta.robots }}">
		{% endif %}
		<meta name="author" content="{{ site_title }}">

		<!-- G+ AND FACEBOOK META TAGS -->
		<meta property="og:title" content="{{ site_title }}" />
		<meta property="og:url" content="{{ base_url }}" />
		<meta property="og:type" content="website">
		<meta property="og:image" content="{{ base_url }}/images/social.jpg" />
		<meta property="og:description" content="{{ meta.description }}" />
		<meta property="og:site_name" content="{{ site_title }}" />

		<!-- TWITTER CARD -->
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@benplum" />
		<meta name="twitter:creator" content="@benplum" />
		<meta name="twitter:url" content="{{ base_url }}" />
		<meta name="twitter:title" content="{{ site_title }}" />
		<meta name="twitter:description" content="{{ meta.description }}" />
		<meta name="twitter:image" content="{{ base_url }}/images/social.jpg" />

		<title>{% if meta.title and not is_front_page %}{{ meta.title }} &middot; {% endif %}{{ site_title }}</title>

		<link rel="icon" href="{{ base_url }}/favicon.ico" type="image/x-icon">
		<link rel="shortcut icon" href="{{ base_url }}/favicon.ico" type="image/x-icon">

		<script src="{{ base_url }}/js/modernizr.js"></script>

		<link rel="stylesheet" href="{{ base_url }}/css/site.css" type="text/css" media="all">

		<!--[if IE 8]>
        	<script>var IE8 = true;</script>
        	<script src="{{ base_url }}/js/site-ie8.js"></script>
			<link rel="stylesheet" href="{{ base_url }}/css/site-ie8.css">
		<![endif]-->
		<!--[if IE 9]>
        	<script>var IE9 = true;</script>
        	<script src="{{ base_url }}/js/site-ie9.js"></script>
			<link rel="stylesheet" href="{{ base_url }}/css/ie9.css">
		<![endif]-->

		{% if live %}
		<!-- Google Analytics -->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-46701565-1', 'formstone.it');
			ga('send', 'pageview');
		</script>
		<!-- End Google Analytics -->
		{% endif %}
	</head>
	<body class="gridlock shifter">
		<header id="header">
			<div class="row">
				<div class="all-full">
					<a href="{{ base_url }}" class="branding">{{ site_title }}</a>
					<span class="mobile_handle shifter-handle">Menu</span>
				</div>
			</div>
		</header>
		<div class="shifter-page">
			<div id="pronto">
{% endif %}